{% extends 'base.html' %}
{% block title %}
    <link rel="stylesheet" href="/static/css/register.css">
    <script src="/static/js/jquery.min.js"></script>
{% endblock %}
{% block content %}
<form action="" method="post">
   {% csrf_token %}
        <p class="a">
            <span style="font-size: 100px;color: antiquewhite;text-align: center">注册页</span>
            <br>
        <lable class="w">账户:</lable>
        <input type="text" name="username" class="b" id="id_username" style="font-size: 30px">
            <br>
        <lable class="w">密码:</lable>
        <input type="password" name="password" class="b" style="font-size: 30px">
            <br>
            <input id="submit" type="submit" value="注册" style="font-size: 30px;width: 100px">
            <br>
            <a href="/login/" style="color: aliceblue;font-size: 30px;font-family: 仿宋;text-align: center">已有账户？点击登录</a>
            <br>
            <span id="message"  style="color:darkorange;font-size: 40px">注意：{{ result.content }}！</span>
        </p>

</form>
    <script>
    $("#id_username").blur(
        function () {
            var value = $("#id_username").val();
            var url = "/aj/?username="+value;
            $.ajax(
                {
                    url:url,
                    type:"get",
                    data:"",
                    success:function (data) {
                        $("#message").text(data.content);
                        var s = data.status;
                        if (s == "error"){
                            $("#submit").attr("disabled",true)
                        } else {
                            $("#submit").attr("disabled",false)
                        }
                    },
                    error:function (error) {
                        console.log(error)
                    }
                }
            )
        }
    )

    </script>

{% endblock %}
